asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
diff-match-patch==20200713
docopt==0.6.2
et-xmlfile==1.0.1
forms2==1.1.2
future==0.18.2
httplib2==0.9.2
idna==2.10
itypes==1.2.0
jdcal==1.4.1
jieba==0.42.1
Jinja2==2.11.2
joblib==0.17.0
MarkupPy==1.14
MarkupSafe==1.1.1
Naked==0.1.31
numpy==1.19.3
odfpy==1.4.1
openpyxl==3.0.5
pdfminer==20191125
pdfminer3k==1.3.4
Pillow==7.2.0
ply==3.11
pyasn1==0.4.8
pycryptodome==3.9.8
PyJWT==1.7.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.3
shellescape==3.8.1
six==1.15.0
sklearn==0.0
South==1.0.2
tablib==2.0.0
threadpoolctl==2.1.0
uritemplate==3.0.1
urllib3==1.25.10
xadmin @ git+git://github.com/sshwsfc/xadmin.git@47481fe8d784f4d6b2900c637467e3ce043fc575
xlrd==1.2.0
XlsxWriter==1.3.6
xlwt==1.3.0
yarg==0.1.9
